
.track_tbl td.track_dot {
    width: 50px;
    position: relative;
    padding: 0;
    text-align: center;
}

.track_tbl td.track_dot:after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -5px;
    top: 11px;
    background: #bfbfbf;
    border-radius: 50%;
}
.track_tbl td.track_dot_active {
    width: 50px;
    position: relative;
    padding: 0;
    text-align: center;
}
.track_tbl td.track_dot_active:after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -5px;
    top: 11px;
    background: #0066ff;
    border-radius: 100%;
}

/*linea generica */
.track_tbl td.track_dot span.track_line { 
    background: #bfbfbf;
    width: 6px;
    position: absolute;
    /*mm*/
    min-height: 50px;
    height: 101%;
}

.track_tbl td.track_dot_active span.track_line { 
    background: #0066ff;
    width: 6px;
    position: absolute;
    min-height: 50px;
    height: 101%;
}

/*linea attraversata prima */
.track_tbl tbody tr:last-child td.track_dot span.track_line {
    top: 0;
    min-height: 25px;
    height: 10%;
}

/*linea attraversata prima */
.track_tbl tbody tr:first-child td.track_dot_active span.track_line {
    top: 30px;
    background: #0066ff;
    min-height: 25px;
}


.track_tbl td, .track_tbl th {
    border: none;
}