body {
	background-color: rgb(197 226 252 / 56%);
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

div.form-group > img, img.card-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25vh;
    max-height: 25vh;
}

tr>td:first-child>img{
    max-height: 16vh;
}

.panel-body>.list-group{
    max-height: 40vh;
    overflow-y:auto;
}

.panel-body[data-type="nGenerale"]>.list-group, .panel-body[data-type="nSpecifica"]{
    max-height: 60vh;
    overflow-y:auto;
}

.panel-body>img{
    max-height: 32px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.fa{
    font-size:48px;
}

.fas{
    font-size:40px;
}


.fa-phone{
    font-size:16px;
}

.fasCart {
    font-size:15px;
}

.imgCartContaier>img {
    width: 100%;
    height: 200px;
}

.add_to_cart {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.add_to_cart:hover {
    opacity: 0.7;
  }

.show-result, .clear-filter {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
}
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.mySlides1 > img {
  width: 100%;
}

input[type='radio']{
    visibility: hidden;
}

.prod-page-img {
    width: 60%;
    height: 100%;
}